@import "modules/variables";
@import "partials/header";
@import "partials/footer";
@import "partials/bodysection";
@import "modules/mixins";


* {
 box-sizing: border-box;
}
.buttonStyle {

  cursor: pointer;
  color: black;
  letter-spacing: 1px;
  text-shadow: 0 0 1px #000;
  border: 3px dashed gray;
  background: $pink;
  float: none;
  margin-left:auto;
  margin-right:auto;
  display: block;
  padding: 10px 30px;

}
.backgroundstyle {

  background: white;
  opacity: .95;
  width: 80%;
  margin: 0 auto;
}
.body {
  background-image: url("../images/piano.jpg");
  background-repeat: no-repeat;
  background-size: cover;

    .instruction {
  @extend .backgroundstyle;
  border-radius: 1em;

  .container {
    padding: 2em;
  }
  .header {
    text-align: center;
  }
  .main {
    text-align: justify;
  }
  .change {
    .button{
      @extend .buttonStyle;
    }
  }
  }
}
.piano {
  @extend .backgroundstyle;
  border-radius: 1em;

  .box{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    @extend .backgroundstyle;
    height: 20rem;

  .key {
    width: 3rem;
    height: 10rem;
    border: 0.1rem solid black;
    background: white;
    display: inline-block;

  }
}
.showInstruction {
  @extend .backgroundstyle;
  padding: 2em 0;
  border-radius: 0 0 1em 1em;

  .button {
    @extend .buttonStyle;
  }
}
}
